@CHARSET "UTF-8";
/*-----------reset-----------------------------------------------------------------------*/
body{
   margin:0px;
}

ul{   
   margin: 0px;
   padding: 0px;
}

li{
   display: block;
}

h1{
   margin:0px;
   
}

/*-----------common-----------------------------------------------------------------------*/

.hidden{
   display: none;
}

/*바뀐부분*/
.color-red {
	color: #ff0000;
}
/*바뀐부분*/
.deprecated {
	text-decoration: line-through;
}

/*---------------------------------------------------------------------------------------*/
/*바뀐부분*/
#header{
   position:fixed;
   top:0px;
   
   display: flex;
   flex-direction:row;
   flex-wrap:nowrap;   
   min-width:100%;
   height:50px;
   background:#fff;
   
   align-items:center;
   
   /*box-shadow: 0px 1px 1px #a8a8a8;*/
   box-sizing: border-box;
   padding:10px;
   
   z-index:100;
   /* flex-shrink:2; */
}

/* #header>div:first-child{
   order : 1;
}

#header>h1{
   order : 2;
} */

#header>div:last-child{
   order : 1;
}

#header .content-container{
   flex-grow:1;
   text-align: center;
   
   display: flex;
   flex-direction:row;
   justify-content:center;
}

#header>h1 img{
   vertical-align:middle;
}

#main-menu{
   display:none;
   
}

#main-menu > ul{
   display: flex;
   line-height: 50px;
}

#header>h1{
   text-align: center;
}

#main-menu>ul>li>a{
   font-family:맑은 고딕, 고딕, sans-serif;
   font-size: 14px;
   font-weight: bold;
   text-decoration: none;
}
#main-menu a{
   color: #000000;
}

#main-menu li a:hover{
   text-decoration: underline;
}

#main-menu li{
   padding-left: 24px;
   background: url("../images/bg-main-menu-vsp.png") no-repeat 13px center;
}

#main-menu li:first-child{
   background: none !important;
   padding-left: 0px !important;
}

.more-vert-button{
   cursor:pointer;
}

.mov-button{
   cursor:pointer;
}


/*--- visual-------------------------------------------------------------------*/

.side-menu{
   z-index: 101;
   position:fixed;
   left:-70%;
   width: 50%;
   height: 100%;
   background: red;
   top: 0px;
   transition-duration: 0.5s;
   transition-property:left;
}

.hamburger-button{
   cursor:pointer;
}

#visual {
   height: 100px;
   background: rgb(49, 49, 49);
   padding-top:50px;
   
   overflow: hidden;
   
   position: relative;
   /* z-index:2; */

   transition-duration: 0.5s;
   /*transition-property: margin-top;*/
}

#visual .banner{
   height: 100px;
   display: flex;
   width: 300%;
   
   position:absolute;
   /* margin-left:-100%; */

   right:0px;
   left:0px;

   transition-duration: 1s;
   transition-property: left;
}

#visual  .banner li{
   height: inherit;
   width:100%;
}

#visual .mov-button{
   position:absolute; 
   
   display: flex;
   width: 100%;
   height: 100px;
   justify-content: space-between;
   align-items: center;
}

.prev-button{
   width:33px;
   height:52px;
   background: url("../images/icon-banner-nav.png") no-repeat -35px center;   

   text-indent: -999px;
   overflow: hidden;
}

.next-button{
   width:33px;
   height:52px;
   background: url("../images/icon-banner-nav.png") no-repeat -105px center;
   
   text-indent: -999px;
   overflow: hidden;
}

/*--- notice-------------------------------------------------------------------*/

#notice{
   height: 30px;
   background: #8cba35;
}


/*--- lecture-------------------------------------------------------------------*/
/*바뀐부분*/
.lecture{
   box-shadow: 0px 1px 1px #a8a8a8;
   min-height: 1000px;
}

.lecture .item{
   display: flex;
   flex-direction: row;

   border-bottom:#292929 1px solid;
   padding:10px;
   height: 80px;

   box-sizing: border-box;
}
.lecture .logo {
	width: 70px;
}
.lecture .logo .picture{
  display: block;
  width: 100%;
  height: 100%;
}

.lecture .img{
   width:100%;
   vertical-align: middle;
}
/*바뀐부분*/
.lecture .info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  padding:10px;
  padding-bottom: 20px;
	box-sizing: border-box;;
	font-size: 11px;
	color: #000;
	flex: 1;
}
/*바뀐부분*/
.lecture .info .title {
	font-size: 13px;
  display: inherit;
}

/*.item과 .event사이에는 띄어쓰기를 쓰지 않아서 자식을 찾는 것이 아니라 아이템이면서, 이벤트클래스를 갖는 것에 속성을 준다.*/
.lecture .item.event{
   background: url("../images/lecture/bg-title-event-box.png") no-repeat right bottom;
}

.lecture .item.normal{
   background: url("../images/lecture/bg-title-normal-box.png") no-repeat right bottom;
}

.lecture .item.new{
   background: url("../images/lecture/bg-title-new-box.png") no-repeat right bottom;
}

.price .normal{
   text-decoration: line-through;
}
/*바뀐부분*/
.lecture .info .update {
	margin-left: 20px;
}

/*--- footer-------------------------------------------------------------------*/

.footer{


}


/*--- css-------------------------------------------------------------------*/
/*.title{
   font-size:12px;
   color:blue;
}*/

/*--- component-------------------------------------------------------------------*/

.row{
   width:100%;
   height:100px;
   background: gray;
}

.col-left{
   margin-left: 5%;
}

.col-right{
   margin-right: 5%;
}

.col-xs-1{
   width:25%;
}

.col-xs-2{
   width:50%;
}

.col-xs-3{
   width:75%;
}

.col-xs-4{
   width:100%;
}


/*--- media쿼리는 위로 갈 수 없음 (위에 것을 덮어쓰는 스타일이기 때문에)-ex.media all(모든 디바이스), screen, print 등--------------*/
@media all and (min-width:640px){
/*-----------header------------*/
   #main-menu{
      display:block;
   }
   
   .more-vert-button{
      display: none;
   }
      



/*-----------lecture------------*/
  .title{
    border:1px solid red;
    width: 100%;
  }

  .lecture .list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left:10px;
    padding-top: 10px;
    width: 580px;
    margin-left: auto;
    margin-right: auto;
  }

  .lecture .item{
    flex-direction: column;
    height:inherit;
    width:180px;
    padding:0px;
    height:200px;
    margin-right: 10px;
    margin-bottom: 10px;
  }


  .lecture .item .logo{
    width:100%;
  }

   .title{
      font-size:30px;
      color:green;
   }

   
  .footer{
   display: flex;
   flex-direction: column;
    }

  .lecture .info .update{
    margin-left: 0px;
  }
  
   .col-sm-1{
      width:16.66666666%;
   }
   
   .col-sm-2{
      width:33.33333333%;
   }
   
   .col-sm-3{
      width:50%;
   }
   
   .col-sm-4{
      width:66.66666666%;
   }
   
   .col-sm-5{
      width:83.33333333%;
   }
   
   .col-sm-6{
      width:100%;
   }
}

@media all and (min-width:770px) and (max-width:960px){
  .lecture .list{
    width:770px; 
  }
}

@media all and (min-width:960px){
  .lecture .list{
    width: 960px; 
  }
}


@media all and (min-width:768px) and (max-width:1024px){
    #main-menu{
      display:block;
   }
   
   .title{
      font-size:40px;
      color:gray;
   }
}

@media all and (min-width:1024px){
   #main-menu{
      display:block;
   }
   
   
   .title{
      font-size:50px;
      color:orange;
   }
}