<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newlecture.web.dao.LectureLanguageDao">
   
   <select id="getList" resultType="com.newlecture.web.entity.LectureLanguage">
      SELECT `LECTURE_LANGUAGE`.`LECTURE_CODE`,
		    `LECTURE_LANGUAGE`.`LANGUAGE_CODE`
	  FROM `newlecture`.`LECTURE_LANGUAGE`
	  WHERE LECTURE_CODE=#{lectureCode}
   </select>
   
   <select id="get" resultType="com.newlecture.web.entity.LectureLanguage">
		SELECT `LECTURE_LANGUAGE`.`LECTURE_CODE`,
		    `LECTURE_LANGUAGE`.`LANGUAGE_CODE`
	 	FROM `newlecture`.`LECTURE_LANGUAGE`
		WHERE `LECTURE_CODE` = #{lectureCode} AND `LANGUAGE_CODE` = #{languageCode}
	</select>
	
    <insert id="add" parameterType="com.newlecture.web.entity.LectureLanguage">
       <selectKey order="BEFORE" keyProperty="code" resultType="String">
         select max(cast(code as unsigned))+1 Code from LECTURE_LANGUAGE
      </selectKey>
     	 INSERT INTO `newlecture`.`LECTURE_LANGUAGE`
		(`LECTURE_CODE`,
		`LANGUAGE_CODE`)
		VALUES
		(#{lectureCode},
		#{languageCode})
   </insert>
   
   <update id="update" parameterType="com.newlecture.web.entity.LectureLanguage">
      UPDATE `newlecture`.`LECTURE_LANGUAGE`
		SET
		`LECTURE_CODE` = #{lectureCode},
		`LANGUAGE_CODE` = #{languageCode}>
	  WHERE `LECTURE_CODE` = #{lectureCode} AND `LANGUAGE_CODE` = #{languageCode}
   </update>

   <delete id="delete">
     DELETE FROM `newlecture`.`LECTURE_LANGUAGE`
	 WHERE `LECTURE_CODE` = #{lectureCode} AND `LANGUAGE_CODE` = #{languageCode}   
   </delete>
</mapper>