<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlecture.web.dao.LecturePlatformDao">

	<select id="getList" resultType="com.newlecture.web.entity.LecturePlatform">
		SELECT `LECTURE_LANGUAGE`.`LECTURE_CODE`,
		    `LECTURE_PLATFORM`.`PLATFORM_CODE`
	   	FROM `newlecture`.`LECTURE_PLATFORM`
	</select>
	
	<select id="get" resultType="com.newlecture.web.entity.LecturePlatform">
		SELECT `LECTURE_LANGUAGE`.`LECTURE_CODE`,
		    `LECTURE_PLATFORM`.`PLATFORM_CODE`
	   	FROM `newlecture`.`LECTURE_PLATFORM`
	   	WHERE `LECTURE_CODE` = #{lectureCode} AND `PLATFORM_CODE` = #{platformCode}
	</select>

	<insert id="add" parameterType="com.newlecture.web.entity.LecturePlatform">
		<selectKey order="BEFORE" keyProperty="code" resultType="String">
			SELECT MAX(CAST(CODE AS UNSIGNED))+1 CODE
			FROM `newlecture`.`LECTURE_PLATFORM`
		</selectKey>
		INSERT INTO `newlecture`.`LECTURE_LANGUAGE`
		(`LECTURE_CODE`,
		`PLATFORM_CODE`)
		VALUES
		(#{lectureCode},
		#{platformCode})
	</insert>

	<update id="update" parameterType="com.newlecture.web.entity.LecturePlatform">
		UPDATE `newlecture`.`LECTURE_LANGUAGE`
		SET
		`LECTURE_CODE` = #{lectureCode},
		`LANGUAGE_CODE` = #{languageCode}>
	  	WHERE `LECTURE_CODE` = #{lectureCode} AND `PLATFORM_CODE` = #{platformCode}
	</update>

	<delete id="delete">
		DELETE FROM `newlecture`.`LECTURE_LANGUAGE`
	 	WHERE `LECTURE_CODE` = #{lectureCode} AND `PLATFORM_CODE` = #{platformCode} 
	</delete>

</mapper>