<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newlecture.web.dao.LevelDao">

	<select id="getLevelOfLecture" resultType="com.newlecture.web.entity.Level">
		SELECT L.*
		FROM
		Level L INNER JOIN Lecture T
		ON L.id = T.levelId
		WHERE T.id = #{lectureId}
	</select>

	<select id="getList" resultType="com.newlecture.web.entity.Level">
		SELECT *
		FROM Level
	</select>

	<select id="get" resultType="com.newlecture.web.entity.Level">
		SELECT *
		FROM Level
		WHERE id = #{id}
	</select>

	<delete id="delete">
		DELETE FROM Level
		WHERE id = #{id}
	</delete>

	<update id="update" parameterType="com.newlecture.web.entity.Level">
		UPDATE Level
		SET
		name = #{name}
		WHERE id = #{id}
	</update>

	<insert id="add" parameterType="com.newlecture.web.entity.Level">
		<selectKey order="BEFORE" keyProperty="id" resultType="String">
			select max(CAST(id AS UNSIGNED))+1 id from Level
		</selectKey>
		INSERT INTO Level
		VALUES
		(#{id},
		#{name})
	</insert>
</mapper>