<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newlecture.web.dao.MemberRoleDao">
	<select id="getDefaultRoleById" resultType="String">
		SELECT ROLE_ID 
		FROM MEMBER_ROLE 
		WHERE MEMBER_ID=#{memberId} 
			AND DEFAULT_ROLE=1
	</select>
	
	<select id="getRolesOfMember" resultType="com.newlecture.web.entity.MemberRole">
	</select>
	
	<select id="getList" resultType="com.newlecture.web.entity.MemberRole"></select>
	
	<delete id="delete"></delete>
	<update id="update" parameterType="com.newlecture.web.entity.MemberRole"></update>
	<insert id="add"  parameterType="com.newlecture.web.entity.MemberRole"></insert>
</mapper>